
<article [class.content]="deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
  <mat-toolbar>
  <div fxLayoutAlign="space-between end">
    <button  type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
      categories
    </button>
    </div>
  </mat-toolbar>

  <mat-drawer-container class="sidenav-content">
    
    <mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="sideBarOpen" position="start" fxFlex="20"
      fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="10" [style.top.px]="sideBarScroll()">
      <mat-list role="list" class="list-width" *ngFor="let i of [].constructor(20)">
        <mat-list-item role="listitem" class="list-item" matRipple>Side Bar Item List</mat-list-item>
      </mat-list>
    </mat-drawer>
    <!-- <p>Test</p> -->
    <mat-drawer-content>
        <div *ngIf="!deviceXs" class="itemContainer">

            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{product.title}}</mat-card-title>
                <mat-card-subtitle>category</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <img mat-card-image src="assets/images/items/{{product.image}}" alt="Photo of a Shiba Inu">
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Rate</button>
                <button mat-button>SHARE</button>
                <button mat-button routerLink="/product/{{product.id}}/edit"><mat-icon>edit</mat-icon></button>
                <button mat-button><mat-icon>delete</mat-icon></button>
              </mat-card-actions>
            </mat-card>

            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Details</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{product.description}} {{product.no_of_ratings}}
                </p>
                <mat-icon [ngClass]="{'orange': product.avg_rating > 0}">stars</mat-icon>
                <mat-icon [ngClass]="{'orange': product.avg_rating > 1}">stars</mat-icon>
                <mat-icon [ngClass]="{'orange': product.avg_rating > 2}">stars</mat-icon>
                <mat-icon [ngClass]="{'orange': product.avg_rating > 0}">stars</mat-icon>
                <mat-icon [ngClass]="{'orange': product.avg_rating > 4}">stars</mat-icon>
              </mat-card-content>
            </mat-card>





        </div>
        <div fxLayout="row" fxLayoutAlign="space-btween">

        <div class="cardList">
            <mat-card class="item-card" *ngFor="let item of items">
            <mat-card-header>
                <div mat-card-avatar class="item-header-image" fxLayoutAlign.xs="center center"></div>
            </mat-card-header>
            <img mat-card-image src="{{item.image}}"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-card-subtitle>Dog Breed | R50</mat-card-subtitle>
                
               <!-- <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
                </p>-->
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>ADD TO CART</button>
            </mat-card-actions>
            </mat-card>
        </div>
        </div>
        
    </mat-drawer-content>
  </mat-drawer-container>
</article>
